$primary-color: #00638e;
$seconday-color: #7ae4ff;
$light-bg-color: #a0eaff;
$text-color: #141414;
$text-blue: #4ca3ff;
$gray-text-color: #edf3f4;
$light-text-color: #14141499;
$border-color: #bbb9b9;
$primary-red: #fa3c3c;
