// Define SCSS variables
$dark-primary-color: #00598e;
$primary-color: #2875a1;
$secondary-color: #4b90be;
$light-bg-color: #a0eaff;
$text-color: #141414;
$text-blue: #4ca3ff;
$gray-text-color: #e0e0e0;
$light-text-color: #9b9b9b;
$border-color: #bbb9b9;
$primary-red: #fa3c3c;

// --primary-100:#FFFFFF;
// --primary-200:#e0e0e0;
// --primary-300:#9b9b9b;
// --accent-100:#4EB5F1;
// --accent-200:#00598e;
// --text-100:#FFFFFF;
// --text-200:#e0e0e0;
// --bg-100:#00638E;
// --bg-200:#2875a1;
// --bg-300:#4b90be;
